*{
    margin: 0px;
}
html {
    margin: 0px 60px 80px 60px;
    background-color: darkgrey;

}

body{
    background-color: grey;
    text-align: center;
    
}
header{
    background: yellow;
    text-align: right;
}
#content li{
    list-style-type: none;
}
#content h1{
    text-align: left;
}

nav ul{
    background-color: green;
    line-height: 200%;
}
nav li{
    background: black;
    display: inline-block;
}
nav a{
    color:#fff;
    text-decoration: none;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    color: #222;

}
p{
    text-align: left;
}
aside{
    position: absolute;right:0px;
    margin-right: 60px;
    height: 503px;
    background-color: white;
    background-image:url("http://www.literarygenius.info/images/william-shakespeare.jpg"); 
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom;

}

footer{
    background-color: green;
    line-height: 200%;
}